* {
  margin: 0;
  padding: 0;
}
/* Navbar section */
.navbar {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-top: 25px;
  align-items: center;
}
.nav-title {
  font-size: 24px;
  color: #3a3a3a;
}
.nav-group {
  display: flex;
  justify-items: center;
  gap: 35px;
  color: #3a3a3a;
}
/* Header section */
.header-section {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  justify-content: space-around;
  justify-items: center;
}
.description {
  max-width: 580px;
  height: 280px;
  align-content: center;
  padding-left: 15px;
  gap: 15px;
}
.btn-primary {
  border: 1px solid #e02c6d;
  border-radius: 40px;
  background-color: #e02c6d;
  color: white;
  font-size: 16px;
  /* padding: 8px; */
  max-width: 196px;
  margin-top: 16px;
  justify-content: center;
  width: 120px;
  height: 25px;
}
.btn-primary:hover {
  background-color: rgb(97, 52, 245);
}
.camera {
  /* width: 440px; */
  margin-right: 20px;
  background-image: url("./images/Circle\ design.svg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.camera img{
  width: 100%;

}

/* Sponsors */
.sponsors {
  width: 90%;
  padding: 20px 20px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.sponsor-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.sponsors-container img {
  max-height: 40px;
  width: 10px;
  object-fit: contain;
  gap: 10px;
  text-align: center;
}

/* Popular section */
.popular {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 28px;
  color: #3a3a3a;
  text-align: center;
}
.cards {
  max-width: 900px;
  /* background-color: rgb(205, 248, 248); */
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);

  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  gap: 30px;
  justify-content: space-between;
}
.card-1 {
  width: 230px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  border: 1px solid darkblue;
  padding-bottom: 10px;
}
.card-1:hover {
  background-color: rgb(242, 206, 206);
}
.card-1 img {
  width: 90%;
  border-radius: 10px;
  margin: 15px;
  margin-bottom: 10px;
  margin-left: 14px;
}
.btn-card {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: bold;
  color: #e02c6d;
  margin: 15px 35px;
  align-items: center;
  gap: 5px;
}
.btn-img {
  color: #e02c6d;
}
/* Featured */
.Featured {
  max-width: 1110px;
  display: flex;
  margin: 100px 20px;
  gap: 90px;
}
.Featured-products {
  max-width: 610px;
  align-items: center;
}
.btn-secondary {
  background-color: #e02c6d;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #e02c6d;
  width: 100px;
  height: 20px;
}
.btn-secondary:hover {
  background-color: rgb(97, 52, 245);
}
/* Footer section */
.footer {
  background: rgba(10, 8, 38, 1);
  color: white;
  text-align: center;
  padding: 50px;
}
.icons {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 15px;
}
